.modal-PresentationDetail {
    background-color: var(--C1);
    color: var(--C2);
    border-radius: 4px;
}

.modal-PresentationDetail-header {
    border-bottom: var(--C3) solid 1px;
    margin-bottom: 2rem;
}

    .modal-PresentationDetail-header span {
    }

    .modal-PresentationDetail-header i {
        color: var(--C3);
        font-size: 1.8rem;
        position: relative;
        top: 5px;
    }

.modal-PresentationDetail-body {
    overflow: hidden;
}

.modal-PresentationDetail-row {
    border-bottom: 1px dashed var(--C3);
    padding: 0.5rem 0.25rem;
}

    .modal-PresentationDetail-row:nth-of-type(2n+1) {
        background-color: var(--C3-lower);
    }

    /*//////*/


.modal-PresentationDetail-secondary {
    background-color: #313039;
    color: var(--C2);
    border-radius: 4px;
}
.modal-PresentationDetail-header-secondary {
    border-bottom: var(--C2) solid 1px;
    margin-bottom: 2rem;
}

    .modal-PresentationDetail-header-secondary span {
    }

    .modal-PresentationDetail-header-secondary i {
        color: var(--C2);
        font-size: 1.8rem;
        position: relative;
        top: 5px;
    }

.modal-PresentationDetail-body-secondary {
    overflow: hidden;
}

.modal-PresentationDetail-row-secondary {
    border-bottom: 1px dashed var(--C2);
    padding: 0.5rem 0.25rem;
}

    .modal-PresentationDetail-row-secondary:nth-of-type(2n+1) {
        background-color: var(--C2-lower);
    }

