.noResponse {
    min-height: 30vh;
    padding: 4rem 10rem;
    margin-top: 5rem;
    background-color: #ff000029;
    border: 1px solid var(--danger);
    border-radius: 5px;
}
.noResponse-container {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100vw;
    height:90vh;
    background-color: var(--C1);
}

.noResponse h4 {
    color: var(--C2);
    position: relative;
}

        .noResponse h4 i {
            color: var(--danger);
            font-size: 80px;
            position: absolute;
            right: -7.5rem;
            top: -3rem;
        }

    .noResponse hr {
        color: var(--danger);
    }

    .noResponse p {
        color: var(--C2);
    }
@media only screen and (max-width: 800px) {
    .noResponse {
        padding: 2rem 2rem;
        padding-top: 7rem;
    }
    .noResponse h4 i{
        right: 0rem;
        top: -5rem;
    }
    .noResponse-container {
        height: 120vh;
    }
}
@media only screen and (max-height: 700px) {
    .noResponse-container {
        height: 140vh;
    }
}