
.custome-outlet {
    background-color: var(--C2);
    padding: 2rem 3rem;
    border: 1px solid var(--C4);
    border-top: none;
    border-radius: 0 0 4px 4px;
    color: var(--C2);
}

.helper {
    margin-top: 0.75rem;
    width: 100%;
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--danger);
    background-color: var(--danger-lower);
    border-radius: 4px;
}
.helper .custome-danger {
    color: var(--C2) !important;
}
.helper .custome-danger svg{
    color: var(--alert)!important;
}
.helper .custome-danger span {

}


.showpass{
    display: flex;
    justify-content: center;
    align-items: center;
}
#signUpform svg {
    color: var(--C4);
}
.showpass svg {
    cursor: pointer;
    padding: 2px;
    font-size: 20px !important;
    margin: 3px;
    color: var(--C3--alternative) !important;
    border-radius: 4px;
}
    .showpass svg:hover {
        background-color: #80808030
    }